RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Nécessaire afin d'utiliser le router
RewriteRule ^(.*)$ index.php?page=$1

AuthType Basic
AuthName "Accès protégé"
AuthUserFile C:\laragon\www\elsTogo/.htpasswd
#AuthUserFile /var/www/html/.htpasswd
require valid-user

