.image-text {
  
  .mainRow {
    align-items: center;
    row-gap: 50px;
  }

  &__textWrapper {
    padding: 45px 0;
    .title {
      @include media-breakpoint-up(lg) {
        padding-right: 20%;
      }
    }

    p {
      margin-top: 16px;
    }

    .button {
      margin-top: 30px;
    }
  }

  &__imageWrapper {
    padding: 45px 0;
    img {
      border-radius: 5%;
      width: 100%;
    }
  }
}
