// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.els-footer {
  background-color: $secondary;
  padding: 10px;
  color: $white;
  font-size: 14px;

  @include media-breakpoint-down(lg) {
    text-align: center;
  }

  .mainRow {
    justify-content: space-between;
    row-gap: 20px;
  }

  a {
    color: $white;
  
    @include on-event {
      color: $white;
    }
  }
}
  