.team-section {

    .h1-text{
        font-size: 1.3rem;
        margin: 40px 0;
        color: #2c2c2c;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    } 
    
    
    .box{
        position: relative;
        min-width: 250px;
        min-height: 350px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 20px;
        position: relative;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: background-color 0.3s ease-in;

        &:hover {
            background-color: $primary;
            
            h1, p, strong {
                color: $white;
            }

            .top-bar {
                background-color: $white;
            }
        }
    }
    
    
    .top-bar{
        width: 50%;
        height: 4px;
        background: #507bfc;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0px 0px 10px 10px;
    }
    
    .content img{
        width: 90px;
        height: 90px;
        border-radius:100px;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content strong, .content i {
        margin-top: 10px;
    }

    .content strong {
        font-weight: 500;
        color: #141414;
    }

    .content p{
        font-size: 0.9rem;
        color: #7a7a7a;
        margin: 4px 0px 10px 0px;
    }
  
    .box-footer {
        margin-top: 5px;
        
        p {
            text-align: center;
        }
    }    
}
